name: on-workflow-call
on:
  workflow_call:
jobs:
  echo-ref-name:
    if: ${{ github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github/actions
      - name: Set Release Version from Ref
        id: set-version
        run: echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT
      - name: Echo version
        run: echo "version=${{ steps.set-version.outputs.version }}"

  echo-hoge:
    runs-on: ubuntu-latest
    needs: echo-ref-name
    if: always()
    steps:
      - name: Echo hoge
        run: echo "hoge"
